*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar-open ul{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(
        45deg,
        #9e4dff,
        #c44fff
        );
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: -100%;
    transition:left 1s;
    overflow: hidden;
}
nav .navbar-menu li{
    display: block;
    width: 100%;
    text-align: center;
}
.navbar-menu li:not(:last-child){
    margin-bottom: 40px;
}
.navbar-menu ul a{
    display: inline-block;
    text-decoration: none;
    text-transform: capitalize;
    color: black;
    font-family: 'Poppins',sans-serif;
    font-size: 30px;
    width: 35%;
    border-radius: 40px;
    transition: 0.3s;
    padding: 3px 0;
}
.navbar-menu ul a:hover{
    background-color: white;
    color: #c44fff;
    transform: translateY(-5px);
    box-shadow: 0 15px 15px rgba(0,0,0,0.05);
}
/* i.fas{
    position: fixed;
    height: 50px;
    width: 50px;
    display: inline-block;
    background-color: white;
    color: #c44fff;
    top: 30px;
    right: 30px;
    text-align: center;
    font-size: 30px;
    padding: 10px 0;
    border-radius: 50%;
    box-shadow: 0 0 25px rgba(0,0,0,0.1);
    cursor: pointer;
} */
.icon{
    cursor: pointer;
}
.icon span{
    display: inline-block;
    background: black;
    width: 50px;
    height: 3px;
    border-radius: 5px;
    display: block;
    margin: 20px 0;
    position: fixed;
    top: 2vh;
    right: 0vw;
    transform: translate(-50%, -50%);
    transition: transform 0.5s, width 0.5s;
}
.icon .line1{
    width: 25px;
    transform: translate(-50px, 15px);
}
.icon .line3{
    width: 25px;
    transform: translate(-25px, -15px);
}
/* OPEN MENU */
.open-menu .line1{
    transform: translate(-48px, 8px) rotate(-45deg);
}
.open-menu .line3{
    transform: translate(-30px, -10px) rotate(-45deg);
}
.open-menu .line2{
    transform: translate(-50%, -50%) rotate(45deg);
}
@media screen and (min-width: 768px) and (max-width: 1920px){
    .icon{
        display: none;
    }
    nav .navbar-menu ul{
        display: none;
    }
}

